/*Para los titulos de pagina*/
#content H1 { margin-top : 8px; color : #990000;}
/*Para el cuadro de cual es tu equipo*/
DIV.yourTeam {
	background-color : #F7F7F7;
	background : url(../img/img_equipo.gif) no-repeat;
	border : solid 1px #B2B2B2;
		padding : 50px 0 12px 5px;
	text-align : center;
}
/*Para el componente de tu equipo (version pequenya)*/
DIV.yourTeam.litleFlags {
	margin-bottom:15px; 
	padding-bottom : 0;
	background-image:url(../img/img_equipo_litle.gif);
}

/*Para el componente de tu equipo*/
DIV.yourTeam.litleFlags LI{
	width : 30px;
	margin: 6px 2px 0 0 !important
}
